footer
    .wrapper 
        .footer-navigation
            +navigation("0")
        .coperate 
            p.coperate__text &copy; 2017 Mass Impressions & Tranmautritam. Make the right impression.
            .coperate__socials
                <svg class="icon">
                <use xlink:href="#icons8-facebook"></use>
                </svg><svg class="icon">
                <use xlink:href="#icons8-twitter"></use>
                </svg>
                <svg class="icon" id="google">
                <use xlink:href="#icons8-google-plus"></use>
                </svg><svg class="icon">
                <use xlink:href="#icons8-instagram"></use>
                </svg>