header
    .wrapper 
        .navigation
            .burger#burger
                span.burger__span1
                span.burger__span2
                span.burger__span3
            .navigation-menu#opened
                +navigation("1")
        .analytics 
            +paragraph
        a.arrow(href="#scrollto")

        